body {
  font-family: SF Pro Text, SF Pro Icons, AOS Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 17px;
  line-height: 1.47059;
  font-weight: 400;
  letter-spacing: -0.022em;
  color: #1d1d1f;
  font-style: normal;
  padding-left: 22px;
}

body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

#backgroundVideo {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -2; /* Lower the z-index value */
  transform: translate(-50%, -50%);
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}


#overlay {
  background: url('./images/desktop-back.svg') no-repeat center center fixed;
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  opacity: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: showOverlay 7s forwards;
}

/* Add keyframes for the showOverlay animation */
@keyframes showOverlay {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body.overlay-open {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}

#overlay-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#popup {
  background-color: rgb(228, 242, 255, 0.8);
  position: fixed;
  top: 16%;
  opacity: o;
  left: 50%;
  bottom: 10%;
  transform: translate(-50%);
  width: 80%;
  max-width: 640px;
  max-height: 730px;
  padding: 0px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  z-index: 1001;
  border-radius: 18px;
  animation: showOverlay 5s forwards;
  display: flex;
  flex-direction: column;
}

/* Add keyframes for the showPopup animation */
@keyframes showPopup {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  60% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 600px) {
  #popup {
    position: fixed;
    top: auto;
    left: 0;
    bottom: 0;
    transform: none;
    width: 100%;
    min-height: 85%;
    border-radius: 0;
  }
}

/* Large phones */
@media screen and (min-width: 321px) and (max-width: 767px) {
  #popup {
    width: 90%;
  }
}

/* Tablets */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #popup {
    width: 100%;
  }
}

.header-container {
  background-color: rgb(228, 242, 255, 0, 0);
  height: 18%;
  border-radius: 18px;
  overflow-y: auto;
}

#header-text {
  position: sticky;
  top: 0;
  padding-top: 20px;
  color: rgb(104, 103, 103);
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  width: 90%;
}

/* Small phones */
@media screen and (max-width: 440px) {
  .header-container {
font-size: 25%;
margin-bottom: 70px;
  }
}

/* Large phones */
@media screen and (min-width: 440px) and (max-width: 660px) {
  .header-container {
    font-size: 22%;
    margin-bottom: 70px;
      }
    }
/* Tablets */
@media screen and (min-width: 660px) and (max-width: 1024px) {
  .header-container {
    font-size: 19%;
      }
    }

.content-container {
  margin-top: 0px;
  margin-left: 90px;
  margin-right: 90px;
  min-width: 400px;
  overflow-y: auto;
  max-height: calc(100% - 50px);
}

/* Small phones */
@media screen and (max-width: 440px) {
  .content-container {
    margin-left: 35px;
    margin-right: 35px;
  }
}

/* Large phones */
@media screen and (min-width: 440px) and (max-width: 660px) {
  .content-container {
    margin-left: 55px;
    margin-right: 55px;
  }
}

/* Tablets */
@media screen and (min-width: 660px) and (max-width: 1024px) {
  .content-container {
    margin-left: 60px;
    margin-right: 60px;
  }
}

#buttonWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

#phase1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.instagram-button {
  background-color: #E1306C;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 10px;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.instagram-button:hover {
  background-color: #D6245F;
}


.transition-button {
  background-color: #007BFF;
  font-size: 1em;
  color: white;
  border-radius: 30px;
  padding: 10px 16px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 20px;
  min-width: 30%;
  width: auto; /* Reduce width by 60% */
  height: 50px; /* Adjust height automatically */
  text-align: center;
}

.outcome-button {
  background-color: #007BFF;
  font-size: 1em;
  color: white;
  border-radius: 26px;
  padding: 10px 16px;
  max-width: 55%;
  height: auto; /* Adjust height automatically */
  text-align: center;
}

.selection-button:hover:not(:disabled) {
  background-color: #b0d6ff;
}

.selection-button-blue {
  background-color: #007BFF;
  color: white;
  border: 1px solid #ccc;
  font-size: 110%;
  font-weight: 540;
  width: 75%;
  text-align: center; /* Align text to the left */
  margin-bottom: 70px;
}

.selection-button-down {
  background-color: rgb(255, 255, 255);
  color: #007BFF;
  border: 1px solid #007BFF;
  font-size: 103%;
  font-weight: 540;
  width: 75%;
  text-align: center; /* Align text to the left */
  margin-bottom: 70px;
}

.selection-button {
  background-color: rgb(255, 255, 255);
  color: #007BFF;
  border: 1px solid #007BFF;
  font-size: 100%;
  font-weight: 540;
  height: 80%;
  width: 75%;
  margin-bottom: 12px;
  text-align: center; /* Align text to the left */
  padding: 22px; /* Add padding to the left of the text */
}

.selection-button-whatsapp {
  background-color: white;
  color: rgb(37, 211, 102);
  border: 1px solid rgb(37, 211, 102);
  font-size: 100%;
  font-weight: 540;
  width: 75%;
  text-align: center;
  padding: 22px;
  margin-bottom: 12px;
  margin-top: 12px;
}

.selection-button
.selection-button-down
.selection-button-blue
.selection-button-whatsapp {
  min-width: 310px;
}

.selection-button-blue:hover:not(:disabled) {
  background-color: #a0ceff;
  border: 1px black;
}

/* Add this new style for the go-back-button */
.go-back-button {
  background-color: transparent;
  font-size: 1em;
  color: #007BFF;
  border: 2px solid lightblue;
  border-radius: 30px;
  padding: 10px 25px;
  margin-top: 20px;
  margin-left: 0px;
  margin-right: 3px;
  margin-bottom: 50px;
  width: 120px;
  height: 50px;
  text-align: center;
}

/* Add this new style for the go-back-button */
.download-button {
  background-color: transparent;
  font-size: 1em;
  color: #007BFF;
  border: 2px solid lightblue;
  border-radius: 30px;
  padding: 10px 16px;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 10px;
  margin-bottom: 25px;
  width: 30%;
  height: 50px;
  text-align: center;
}

/* Add this new style for the go-back-button */
.start-button {
  background-color: #007BFF;
  font-size: 1em;
  color: #ffffff;
  border: 2px solid lightblue;
  border-radius: 30px;
  padding: 10px 16px;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 10px;
  margin-bottom: 50px;
  width: 30%;
  height: 50px;
  text-align: center;
}

/* Add this new style for the buttons-container */
.buttons-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-right: 0px;
}

button {
  font: SF Pro Text;
  cursor: pointer;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 22px;
  margin-bottom: 15px;
  width: 75%;
  font-size: 16px;
  text-align: left; /* Align text to the left */
  padding-left: 26px; /* Add padding to the left of the text */
}

/* Small phones */
@media screen and (max-width: 440px) {
  .button {
    width: 90%;
  }
}

/* Large phones */
@media screen and (min-width: 440px) and (max-width: 660px) {
  .button  {
    width: 80%;
  }
}

/* Tablets */
@media screen and (min-width: 660px) and (max-width: 1024px) {
  .button 
  .button-down {
    width: 75%;
  }
}

.button-down {
  font: SF Pro Text;
  cursor: pointer;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 22px;
  margin-bottom: 55px;
  max-width: 75%;
  font-size: 16px;
  text-align: left; /* Align text to the left */
  padding-left: 26px; /* Add padding to the left of the text */
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 0;
}

select,
button {
  padding: 22px;
  margin-bottom: 15px;
}

.selected-button {
  font: SF Pro Text;
  font-weight: 550;
  cursor: pointer;
  background-color: rgb(200, 228, 255);
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 22px;
  margin-bottom: 15px;
  width: 69%;
  font-size: 18px;
  text-align: left; /* Align text to the left */
  padding-left: 26px; /* Add padding to the left of the text */
}

.container {
  max-width: 600px;
  margin: 20px;
  text-align: center;
}

button:disabled {
  background-color: #B0C4DE;
}

button:hover:not(:disabled) {
  border: 1px black;
}

button {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

h2 {
  margin-top: 35px;
  margin-bottom: 15px;
}

h3 {
  font-size: 2em;
  margin-top: 30px;
  margin-bottom: 0px;
}

h4 {
  font-size: 2.1em;
  margin-top: 0px;
  margin-bottom: 8px;
  line-height: 1;
}

h5 {
  font-size: 2em;
  margin-top: 0px;
  margin-bottom: 30px;
  line-height: 1;
  padding-left: 0px;
}

h6 {
  font-size: 1.2em;
  margin-top: 20px;
  margin-bottom: 8px;
  line-height: 1;
}

.hwelcome {
  font-size: 2.1em;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 8px;
  line-height: 1;
}


/* Small phones */
@media screen and (max-width: 440px) {
  .hwelcome {
font-size: 1.6em;
  }
}

/* Large phones */
@media screen and (min-width: 440px) and (max-width: 660px) {
  .hwelcome {
    font-size: 1.8em;
      }
    }

/* Tablets */
@media screen and (min-width: 660px) and (max-width: 1024px) {
  .hwelcome {
    font-size: 2em;
      }
    }

.htradein {
  font-size: 2em;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 8px;
  line-height: 1;
}

.hswap {
  font-size: 2.1em;
  margin-top: 30px;
  margin-bottom: 8px;
  line-height: 1;
}

p {
  font-size: 105%;
  display: block;
  margin-block-start: 0em;
  margin-block-end: 1em;
  margin-top: 20px;
  margin-bottom: 5px;
}

.par2 {
  display: block;
  margin-block-start: 0em;
  margin-block-end: 1em;
  margin-inline-end: 90px;
  margin-top: 0;
  margin-bottom: 35px;
}

.par3 {
  display: block;
  font-weight: 600;
  margin-block-start: 0em;
  margin-block-end: 1em;
  margin-top: 8;
  margin-bottom: 10px;
}

.par4 {
  display: block;
  color: #454545;
  font-size: smaller;
  font-weight: 400;
  text-align: center;
  margin-block-start: 0em;
  margin-block-end: 1em;
  margin-top: 8;
  margin-bottom: 25px;
}

.par44 {
  display: block;
  color: #454545;
  font-size: smaller;
  font-weight: 400;
  text-align: center;
  margin-block-start: 0em;
  margin-block-end: 1em;
  margin-top: 2;
  margin-bottom: 2px;
}

.par5 {
  display: block;
  text-align: center;
  margin-inline-start: 15px;
  margin-inline-end: 15px;
  margin-top: 0px;
  margin-bottom: 8px;
}


.par55 {
  display: block;
  text-align: center;
  margin-inline-start: 35px;
  margin-inline-end: 35px;
  margin-top: 3px;
  margin-bottom: 25px;
}

.par505 {
  display: block;
  text-align: center;
  margin-inline-start: 15px;
  margin-inline-end: 15px;
  margin-top: 0px;
  margin-bottom: 3px;
}

.par6 {
  font-size: 105%;
  display: block;
  text-align: center;
  margin-block-start: 0em;
  margin-block-end: 1em;
  margin-top: 22px;
  margin-bottom: 0px;
}

.par7 {
  display: block;
  text-align: center;
  margin-block-start: 0em;
  margin-block-end: 1em;
  margin-top: 15px;
  margin-bottom: 25px;
}

.par8 {
  display: block;
  text-align: center;
  margin-block-start: 0em;
  margin-block-end: 1em;
  margin-top: 10px;
  margin-bottom: 10px;
}

li {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 1em;
    margin-top: 8;
    margin-bottom: 00px;
}

ul {
  list-style-type: disc;
  padding-left: 0em;
}

.hidden {
  display: none;
}

.step {
  display: none;
}

a {
  text-decoration: none;
}

.step-title {
  font-weight: bold;
  margin-bottom: 5px;
}

select {
  height: 40px;
}

form {
  display: flex;
  flex-direction: column;
}

.table {
  width: 77%;
  margin: 53px auto auto;
  border-collapse: collapse;
  border-spacing: 0;
}
  
html {
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 106.25%;
  quotes: "“" "”";
  -webkit-text-size-adjust: 100%;
  color: text;
}
  
/* Center the table */
.dd-table {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;
}

.dd-table th {
  font-weight: normal;
  background-color: #f2f2f2;
  font-size: 1em;
  padding-left: 8px;
}
  
.dd-table td {
  font-weight: normal;
  padding-left: 8px;
}
  
.dd-table td:last-child {
  font-weight: bold;
  text-align: right;
  padding-right: 12px;
  width: 35%;
}
  
.dd-table td:first-child {
color: #18577B;
}

.dd-table th {
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  padding: 8px;
  text-align: left;
  font-size: 1.2em;
}


.dd-table td {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  padding: 7px;
  padding-left: 12px;
  text-align: left;
  font-size: 1em;
}

.slide {
  transition: transform 1s ease-in;
}

.slide-out-left {
  transform: translateX(-0%);
}

.slide-in-right {
  transform: translateX(0%);
}

